main h2 {
    text-align: center;
}

main div.go-home {
    text-align: center;
    font-size: .9em;
}

main div.go-home a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: .2em;
    transition: background-color 500ms linear, color 500ms linear;
    border-radius: 1em;
    border: .1em solid #005174;
    font-weight: bold;
    width: 13em;
    margin: 0 auto;
}

main div.go-home a:Hover {
    color: #F0F0F0;
    background-color: #005174;
    transition: background-color 500ms linear, color 500ms linear;
}
